
<header>

    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            
            <li>
                <a routerLink="/explorer">Ventas</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <p>Proyecto 3er parcial DFE-3 ||  Alfredo Vizcarra Cota</p>
    <p>Expediente ||  219202516</p>
<router-outlet></router-outlet>

</main>

<footer >
    <p>Proyecto realizado para la materia de: 4140 Diseño Frontend 2023-2 </p>
   

  </footer>
