<main>

      
        <h1>PLAY & WIN</h1>
        <h3>Bienvenido a la Plataforma de Reporte de Ventas de Play&Win</h3>
        <p>Esta aplicación ha sido creada con el objetivo de ofrecer a nuestros empleados una pagina que permita que puermitan
            que sean eficientes en el analisis de las tendencias, la importancia de los lanzamientos clave y el desempeño general de las ventas.</p>
       <div class="not-found-container">

    <img src="../../../../assets/img/ventas.jpeg" alt="Imagen no encontrada" class="not-found-image">

  </div>
  </main>
